body{
    background:url(IMG/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;

  

}
.nav{
 
    height: 100vh;
    width: 20%;
    position: absolute;
    left: 0;
    

}
.div_banner{
    display: flex;
    width: 8vw;
    height: 4vw;
    margin-bottom: 8%;
    max-width: 115px;
    max-height: 55px;
    min-height: 35px;
    min-width: 80px;
    border: 2px solid rgba(26, 25, 25, 0.494);
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(255, 228, 166, 0.777);
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7%;
}


.P_todo{
font-size: 100%;
font-weight: 600;
color: rgb(103, 72, 71);

}

.div_avataars{
    background-color:  rgba(241, 241, 204, 0.497);
    position: fixed;
    right: 0.6%;
    bottom:0.9%;
    border: 1px solid rgba(0, 0, 0, 0.444);
    background-position: center;
    height: 5vh;
    width: 5vh;
    border-radius: 30%;
    overflow: hidden;

}

.img_avatar{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 76%;
}

.bulleListe{
    background-color: rgb(249, 253, 203);
    border: 3px solid black;
    width: 42%;
    border-radius: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.permier_P{
    font-weight: 900;
    font-size: large;
    
    
}

.hr{
    border: 1px solid black;
    width: 60%;
}

.inputTache{
    border-radius: 10px;
    background-color: rgb(231, 242, 216); 
    padding: 0.4%;
    height: 5vh;
    width: 80%;
    margin-bottom: 3%;
    border: 2px solid black;
    align-content: center; 
    text-align: center;
    
}
.class_input{
    width: 10vw;

}

.liste{
    
    background-color: rgb(255, 236, 210);
    border-radius: 24px;
    border: 3px solid black;
    width: 100%;
    width:34vw;
     /* Supprime la marge pour centrer */
    margin: 0; 
    /*  padding pour l'espace intérieur */
    padding: 0.4%;
    /* Assure que l'élément reste centré */
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.ol{
    color:black;
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin: 2%;
    display: block;
   
      
   
   
}
.conteneur_pour-numero {
    border: 2px solid rgb(9, 9, 10); /* Bordure pour le numéro */
    border-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(255, 255, 255); 
    width: 5%; 
    min-width: 15px;
    height: 44px; 
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-right: 0; 
    position: relative; /* Nécessaire pour le positionnement */
    float: left; /* Permet au numéro de flotter à gauche */
    font-weight: bold;
    
}

.button_hidden{
 display: flex;
 margin-left: 3%;
 border-radius: 18%;
 background-color: rgb(226, 243, 243);
 align-items: center;
 align-content: center;
 padding-left: 0.8%;
 padding-right: 0.8%;  
}



.button_hidden:hover{
   
    border-radius: 18%;    
    background-color: rgba(219, 227, 227, 0.875); 
}
.logo_poubelle{
   height: 18px;
   width: 16px;
}


.logo_fleche{
 height: 10px;
 width: 10px;
}



.elementListeNOchecked{
    background-color: rgb(255, 199, 199);
    font-size: 106%;
    min-height: 50px;
    padding: 2%;
    padding-right: 8%;
    margin: 0 3% 1.2%;
    border: 2px solid black;
    border-top-right-radius:  20px;
    border-bottom-right-radius:20px ;
    border-bottom-left-radius: 6px;
    display: flex;
    align-items: center;
    position: relative;
    
   
}
.elementListechecked{
    background-color: rgb(228, 245, 186);
    text-decoration: line-through;
    padding: 2%;
    padding-right: 8%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid black;
    border-top-right-radius:  20px;
    border-bottom-right-radius:20px ;
    border-bottom-left-radius: 6px;
    margin-left: 5%;
    display: flex;
    
    align-items: center;
    
}

 .boite_UpDown{
    position: absolute;
    display:flex;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    margin-left: 10%;
    right: 0;
    height: 100%; 
    flex-direction: column;
       

 }
.move_down{
    flex-grow: 1;
    border-right: none;
    border-bottom: none;
    color: rgb(0, 0, 0);
    background: transparent;
    background-color: rgb(252, 250, 222);
    align-items: center;
    align-content: center;
    
}
.move_up{
    background-color: rgb(252, 250, 222);
    flex-grow: 1;
    border-right:none;
    border-top: none;
    border-bottom: none;
}*
.move_up:hover, .move_down:hover{
    background-color: rgb(236, 236, 227);
    

}

.chevron{
width:  13px;

}

.boite_task {
    transition: transform 0.3s ease;
    
    
}

/* Classe ajoutée pour déclencher la transition */
.translate-up {
    transform: translateY(-65px); /* Ajustez selon vos besoins */
}

.translate-down {
    transform: translateY(65px); /* Ajustez selon vos besoins */
}